<h1><%= @bach.name %></h1>

<h3>Season <%= @bach.season_number %> - <%= @bach.season_description %><h3>

<h3>Average Age of Contestants: <%= @bach.avg_contestant_age %><h3>
<%= link_to 'See Contestants', bachelorette_contestants_path(@bach) %>